.AppointmentForm {
    display: flex;
    flex-direction: column;
}

.AppointmentForm label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.AppointmentForm input {
    padding: 0.25rem 0.5rem;
}

input[type="submit"] {
    margin-top: 3rem;
    border: 0;
    background-color: #000000;
    color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}